<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Explore Byte Tutorial</title>
    
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles for this project -->
    <link href="css/explore.css" rel="stylesheet">
  </head>
  
  <body role="document">
    
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about">About This Data Set</a></li>
	    <li><a href="quality">Data Quality</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    
    <div class="container theme-showcase" role="main">
      
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
	<h1>Data Pipeline Project Exploratory Analysis Byte Example</h1>
        <p>This is the Exploratory Analysis Byte of the Data Pipeline class.</p>
      </div>
      
      <div class="page-header">
	
      </div> <!-- /page-header -->
    </div> <!-- /container -->
    
    <div class="button-toolbar" role="toolbar" id="headers" name="headers">
      {% for column in allheaders %}
      <button type="button" class = "btn-space btn btn-info" id="{{column}}" onclick="updateTable('{{column}}')">{{column}}</button>
      {% endfor %}
    </div>
    
    <div id="animals"><table id="data" class="table table-striped table-hover">
	<thead class ="thead-inverse">
	  <tr id="cols">
	  </tr>
	</thead>
	<tbody id="rows"> 
	</tbody>
    </table></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
	function updateTable(str) {
		console.log("in updateTable");
		console.log(str);

	    // error checking: ignore buttons that don't have a title!
		if (str == "") {
			return;
		}

	    // find the actual button in this document's HTML
		button = document.getElementById(str);
		// for debugging, write its name to the console
		console.log(button.className);
		// check if it is disabled (btn-info)
		if (button.className.includes("btn-info")) {
			// and enable it (btn-primary)
			button.className = "btn btn-space btn-primary";
		} else {
			// otherwise disable it (btn-info)
			button.className = "btn btn-space btn-info";
		}

		// now get all the buttons
		buttons = document.getElementById("headers").children;
		// and collect their names in cols
		cols = [];
		// loop through them
		for (button in buttons) {
			// grab the id (the name we need is there)
			id = buttons[button].id;
			// make sure it isn't null
			if (buttons[button].id != null) {
				// and that the button is selected 
				var isPrimary = buttons[button].className.includes("btn-primary");
				if (isPrimary && (cols.indexOf(id) == -1)) {
					// if so, add it to our array
					cols.push(id);
				}
			}
		}
					
		$.ajax({
			url: '/_update_table',
			dataType: 'json',
			contentType: 'application/json',
			data: JSON.stringify({'cols' : cols}),
			type: 'POST',
			success: function (res, status) {
				console.log("successrunning");
				console.log(res["content"]);
				console.log(res["headers"]);
				var cols = res["headers"];
				var rows = res["content"];

				// get the table, columns and rows
				table = document.getElementById("data");
				headers = document.getElementById("cols");
				body = document.getElementById("rows");

				// delete current contents
				headers.innerHTML='';
				body.innerHTML = '';

				// and put the new information in the table
				for (col in cols) {
					cell = document.createElement("th");
					cell.innerHTML = cols[col];
					headers.appendChild(cell);
				}
				for (row in rows) {
					tr = document.createElement("tr");
					for (item in rows[row]) {
						td = document.createElement("td");
						td.innerHTML = rows[row][item];
						tr.appendChild(td);
					}
					body.appendChild(tr);
				}
			},
			error: function(res, status) {
				// On Error
				alert('error');
			}
		});
	}
				
				   
				   
</script>
</body>
</html>
